.container{
    display: flex;
}

.menu{
    flex: 1;
    padding: 0.5rem;
    background: var(--foreground);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    min-height: 100vh;

}

.Content{
    flex:4;
    padding: 0.5rem;
}


.wrapper{
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.main{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cards{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

.rightColumn{
    flex:1;
}

