.container{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 5px 0px;
    border-radius: 0.5rem;
}

.container:hover, .active{

    background: var(--hover);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    color: var(--textHover);

}

