.container{
    background-color: var(--foreground);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    gap: 3rem;
}

.info{
    background-color: var(--background);
    flex:1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 1rem;
    border-radius: 0.5rem;
    height: max-content;
    font-weight: bold;
}




.img{
    position: relative;
    border-radius: 0.5rem;
    object-fit: cover;
    height: 20rem;
    width: 20rem;
    overflow: hidden;
}


.form{
    flex:3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 20rem 0 0;
}

.form input, .form textarea, .form select{
    padding: 0.5rem;
    background-color: var(--background);
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 0 4px 10px rgba(247, 245, 245, 0.1);
}



.form button{
    padding: 0.5rem;
    background-color: var(--hover);
    color: var(--textHover);
    border-radius: 0.5rem;
    margin: 0.5rem;
    width: 100%;
}

.form label{
    font-size: 0.8rem;
}