.container{
    position: sticky;
} 

.user{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.2rem;
}

.userImage{
    border-radius: 50%;
    object-fit: cover;
}

.userData{
    display: flex;
    flex-direction: column;
}

.username{
    font-weight: 500;
    font-size: 1.5rem;
}

.userTitle{
    font-size: 1rem;
}

.list{
    list-style: none;
}

.category{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0rem;
}

.logout{
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0rem;
    font-size: 1.2rem;
    gap: 0.5rem;
    cursor: pointer;
    width: 100%;
    border-radius: 0.5rem;
}

.logout:hover{
    background: var(--highlight);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    color: var(--textHover);

}

